# .env
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.idea/
.vscode/
logs/
# media/posters/*
# media/videos/*
# media/music/*
!media/.gitkeep
alembic/versions/*.py
!alembic/versions/.gitkeep
dist/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
